apiVersion: v1
baseDomain: ${GCP_BASE_DOMAIN}
metadata:
  name: ${CLUSTER_NAME}

compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  platform:
    gcp:
      type: e2-standard-8
  replicas: 3

controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  platform:
    gcp:
      type: e2-standard-8
  replicas: 3

platform:
  gcp:
    projectID: ${GCP_PROJECT_ID}
    region: ${GCP_REGION}

publish: External
pullSecret: '${REDHAT_PULL}'
