apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: replica-switchover-restart-a
spec:
  instances: 3
  primaryUpdateStrategy: unsupervised
  primaryUpdateMethod: restart

  storage:
    storageClass: ${E2E_DEFAULT_STORAGE_CLASS}
    size: 1Gi

  postgresql:
    parameters:
      log_checkpoints: "on"
      log_lock_waits: "on"
      log_min_duration_statement: '0'
      log_statement: 'all'
      log_temp_files: '1024'
      log_autovacuum_min_duration: '1s'
      log_replication_commands: 'on'
      log_connections: 'on'
      log_disconnections: 'on'
      log_min_messages: 'DEBUG3'
      wal_receiver_timeout: '2s'
      wal_retrieve_retry_interval: '2s'
  backup:
    barmanObjectStore:
      destinationPath: s3://cluster-backups/
      endpointURL: https://minio-service.minio:9000
      endpointCA:
        key: ca.crt
        name: minio-server-ca-secret
      s3Credentials:
        accessKeyId:
          name: backup-storage-creds
          key: ID
        secretAccessKey:
          name: backup-storage-creds
          key: KEY
      wal:
        compression: gzip
      data:
        immediateCheckpoint: true

  replica:
    primary: replica-switchover-restart-a
    source: replica-switchover-restart-b

  externalClusters:
  - name: replica-switchover-restart-a
    barmanObjectStore:
      serverName: replica-switchover-restart-a
      destinationPath: s3://cluster-backups/
      endpointURL: https://minio-service.minio:9000
      endpointCA:
        key: ca.crt
        name: minio-server-ca-secret
      s3Credentials:
        accessKeyId:
          name: backup-storage-creds
          key: ID
        secretAccessKey:
          name: backup-storage-creds
          key: KEY
      wal:
        compression: gzip
  - name: replica-switchover-restart-b
    barmanObjectStore:
      serverName: replica-switchover-restart-b
      destinationPath: s3://cluster-backups/
      endpointURL: https://minio-service.minio:9000
      endpointCA:
        key: ca.crt
        name: minio-server-ca-secret
      s3Credentials:
        accessKeyId:
          name: backup-storage-creds
          key: ID
        secretAccessKey:
          name: backup-storage-creds
          key: KEY
      wal:
        compression: gzip
